/* 1920 */

.work {
  margin-bottom: 95px;
}

.work-title {
  margin-bottom: 49px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.work__list-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--text-color);
}

.first-link {
  color: var(--primary-color);
}

.work__list-link:hover {
  color: var(--primary-color);
}

.work__list-item:not(:last-child) {
  margin-right: 89px;
}

.work__list-item:first-child {
  margin-right: 92px;
}

.work__content {
  display: none;
}

.work__content-left {
  width: 50%;
}

.work__content-right {
  padding-top: 10px;
  width: 50%;
  /* background: url(../img/Rectangle18.jpg) no-repeat;
  background-size: contain;
  background-position: center; */
}

.work__content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__content-descr {
  width: 88%;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 32px;
}

.work-content-img {
  max-width: 100%;
}

.work__content-btn1 {
  padding: 20px 40px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #ff9900;
}

.work__content-btn1:hover {
  background: rgba(255, 153, 0, 0.6);
}

.work__content-btn1:active {
  background-color: #e1670e;
}

.work__content-btn2 {
  padding: 20px 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  border: 1px solid #333;
}

.work__content-btn2:hover {
  background-color: #666;
  color: #fff;
}

.work__content-btn2:active {
  background-color: #000;
  color: var(--secondary-color);
}

/* 1024 */

@media (max-width: 1024px) {
  .work {
    margin-bottom: 60px;
  }

  .work__content {
    display: none;
  }

  .work__content-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work__content-left {
    width: 50%;
    margin-right: 50px;
  }

  .work__content-right {
    width: 50%;
    /* background: url(../img/Rectangle18.jpg) no-repeat;
    background-size: cover;
    background-position: center; */
  }

  .work__content-descr {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* 768 */

@media (max-width: 768px) {
  .work__list {
    justify-content: space-between;
  }

  .work-title {
    text-align: center;
  }

  .work__list-item:first-child {
    margin-right: 0;
  }

  .work__list-item:not(:last-child) {
    margin-right: 0;
  }

  .work__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    display: none;
  }

  .work__content-left {
    width: 100%;
    margin-top: 35px;
  }

  .work__content-right {
    width: 100%;
    height: 368px;
  }

  .work__content-descr {
    width: 100%;
    margin-bottom: 30px;
  }

  .work__content-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work-content-img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* 375 */

@media (max-width: 375px) {
  /* Work */

  .work {
    margin-bottom: 39px;
  }

  .work__content {
    display: none;
  }

  .work__content-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work-title {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
    text-align: unset;
  }

  .work__list {
    margin-bottom: 19px;
  }

  .work__list-link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--text-color);
  }

  .work__content-right {
    width: 100%;
    height: 200px;
    /* background: url(../img/Rectangle18.jpg) no-repeat;
    background-size: contain;
    background-position: top; */
  }

  .work__content-descr {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
  }

  .work__content-left {
    margin-top: 0px;
  }

  .work__content-btn1 {
    padding: 12px 44px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .work__content-btn2 {
    padding: 12px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
}

/* 320 */

@media (max-width: 320px) {
  /* Work */

  .work {
    margin-bottom: 39px;
  }

  .work__content {
    display: none;
  }

  .work__content-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .work-title {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
    text-align: unset;
  }

  .work__list {
    margin-bottom: 19px;
  }

  .work__list-link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--text-color);
  }

  .work__content-right {
    width: 100%;
    height: 170px;
    /* background: url(../img/Rectangle18.jpg) no-repeat;
    background-size: contain;
    background-position: top; */
  }

  .work__content-descr {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
  }

  .work__content-left {
    margin-top: 0px;
  }

  .work__content-btn1 {
    padding: 12px 44px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .work__content-btn2 {
    padding: 12px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
}
